body {
    text-align: center;
}

h1 {
    font-size: 20pt;
    margin-bottom: 0pt;
}

h2 {
    margin-top: 0em;
    font-size: 18pt;
}

h3 {
    margin-top: 2em;
    font-size: 16pt;
}

[lang|="en"] {
    font-family: Times New Roman, Times, serif
}

[lang|="he"] {
    font-family: David CLM, David, serif
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
