/* Page layout */
html {
    color: black;
    background-color: white;
    direction: ltr;
    font-family: serif;
    font-size: 1.5vw;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

h2 {
    text-align: left;
    font-size: 1.2rem;
}

div.content-wrapper {
    margin-right: 5%;
    margin-left: 20%;
    counter-reset: footnote-number;
}

div.content-wrapper p {
    box-sizing: border-box;
}

div.citation p {
    font-style: italic;
    text-align: right;
}

p {
    text-align: justify;
}

span[role="footnote-ref"]:before {
    counter-increment: footnote-number;
    content: counter(footnote-number, decimal);
    font-size: .75rem;
    vertical-align: super;
    background-color: Cornsilk;
}

span[role="footnote"]:before {
    content: counter(footnote-number, decimal);
    margin-right: .25rem;
    font-size: 0.5rem;
    vertical-align: super;
}

span[role="footnote"] {
    display: block;
    text-align: left;
    float: left;
    clear: left;
    margin-left: -25%;
    margin-top: .5rem;
    max-width: 22%;
    background-color: Cornsilk;
    font-size: .8rem;
}
